@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gabarito', sans-serif;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;

}

body{
    background-image:url("image/4.jpg") ;
    background-size: cover;
    background-repeat:no-repeat;
    color: var(--text-color);
}

:root{
    --text-color:#FFFFFF;
    --hover-color:#7E57C2;
    --big-font:2.5rem;
    --normal-font:2rem;
    --p-font:1rem;
    --bg-color:#84ADEA;
    --neon-box-shadow: 0 0 0.3rem #84ADEA,
                       0 0 0.3rem #84ADEA,
                       0 0 0.3rem #84ADEA;
    --h2-font:4rem;
    --font-neon-text-shadow:0 0 10px #84ADEA,
                            0 0 20px #84ADEA,
                            0 0 30px #84ADEA,
                            0 0 40px #84ADEA,
                            0 0 70px #84ADEA,
                            0 0 80px #84ADEA,
                            0 0 100px #84ADEA,
                            0 0 150px #84ADEA;



}

header{
    position: fixed;
    top:0;
    right:0;
    justify-content:space-between;
    display:flex;
    align-items: center;
    width: 100%;
    padding: 10px 10%;
    background:transparent;
    border-bottom: 2px;
    z-index: 1000;
}

.logo {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    padding:  0 0 0 30px  ;
}
span{
    color:var(--hover-color);
    font-size: 60px;
    font-family: 'Crimson Pro', serif;
}
.nav{
    display: flex;
}
.nav a{
  font-size: 20px;
  color:var(--text-color);
  font-weight: 500;
  padding: 10px 10px;

}
.nav a:hover{
    color:var(--text-color);
    text-shadow:0 0 10px #84ADEA,
    0 0 20px #84ADEA,
    0 0 30px #84ADEA,
    0 0 40px #84ADEA,
    0 0 70px #84ADEA,
    0 0 80px #84ADEA,
    0 0 100px #84ADEA,
    0 0 150px #84ADEA;
}

section{
    padding: 90px 10%;
}

.h-list{
    padding-top: 15px;
    display: flex;
}

.h-list a{
    padding: 10px 10px;
    font-size: 40px;
    color:var(--text-color);
}
.h-mail a:hover{
   color: red;
    text-shadow:0 0 10px #84ADEA,
    0 0 20px #84ADEA,
    0 0 30px #84ADEA,
    0 0 40px #84ADEA,
    0 0 70px #84ADEA,
    0 0 80px #84ADEA,
    0 0 100px #84ADEA,
    0 0 150px #84ADEA;
}
.h-whatup a:hover{
    color:green;
    text-shadow:0 0 10px #84ADEA,
    0 0 20px #84ADEA,
    0 0 30px #84ADEA,
    0 0 40px #84ADEA,
    0 0 70px #84ADEA,
    0 0 80px #84ADEA,
    0 0 100px #84ADEA,
    0 0 150px #84ADEA;
}

.h-phone a:hover{
    color:blue;
    text-shadow:0 0 10px #84ADEA,
    0 0 20px #84ADEA,
    0 0 30px #84ADEA,
    0 0 40px #84ADEA,
    0 0 70px #84ADEA,
    0 0 80px #84ADEA,
    0 0 100px #84ADEA,
    0 0 250px #84ADEA;
}

.home{
    min-height: 80vh;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    grid-gap: 3rem;

}

.h-content{
    max-width: 1000px;
}
.h-content span{
    font-size:var(--big-font);
}
.h-content h1{
    font-size:var(--normal-font);
    font-weight: 700;
}

.h-content h3{
    font-size:var(--normal-font);
    font-weight: 700;
    color:var(--hover-color);
}

.h-content p{
    font-size:25px;

}
.btn-box{
    padding-top: 60px;

}

.h-content .btn-box{
    display: flex;
    justify-content: space-between;
    width:440px;
    height:45px;
}
.h-content .btn-box a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    width: 200px;
    height:100%;
    padding: 20px;
    background-color: transparent;
    color:var(--hover-color);
    border: 2px solid #84ADEA;
    font-size: 20px;
    letter-spacing: 1px;
    overflow:hidden;
    transition:.6s;
    box-shadow:var(--neon-box-shadow);
    z-index: 1;
    position: relative;
}
.btn-box a:hover{
    color: #FFFFFF;
}
.h-content .btn-box a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--hover-color);
    width: 0;
    z-index: -1;
    transition: .6s;
}

.h-content .btn-box a:hover::before{
    width: 100%;
}

.btn-box a:nth-child(1){
    background-color: var(--bg-color);
    color:var(--text-color) ;
}
.btn-box a:nth-child(2){
    background-color: var(--bg-color);
    color:var(--text-color) ;
}


.home-image{
    position:relative;
    padding-top: 20px;

}
.img-section{
    text-align: center;


}
.img-section image{
    width: 100%;
    max-width: 700px;


}
.liguite-shape{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.liguite-shape:nth-child(1){
    filter: blur(5px);
    align-items: center;
}
.liguite-shape:nth-child(2){
    filter: blur(20px);

}

.career{
    font-size: 50px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
    color: #FFFFFF;
    letter-spacing: 1px;
    transition:.6s;
    text-shadow: 0 0 20px #7E57C2;
    z-index: 1;
    position: relative;
}
.career:hover{
    font-size:60px;
    color:#FFFFFF;
    text-shadow:0 0 10px #7E57C2,
    0 0 20px #7E57C2;
}

.c-content{
    font-size: 40px;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 90px;
    padding-bottom: 50px;
    cursor: pointer;
    transition:.10s;
    text-shadow: 0 0 20px #7E57C2,
    0 0 20px #7E57C2;
    z-index: 1;
}
.c-content:hover{
    font-size:42px;
    color:#FFFFFF;
}
.education h1{
    font-size: 38px;
    padding: 20px;
}
.education{
    font-size: 38px;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 50px;
    letter-spacing: 1px;
    transition:.6s;
    text-shadow: 0 0 20px #7E57C2;
    z-index: 1;
    position: relative;
}

.education:hover{
    font-size:40px;
    color:#FFFFFF;;
    text-shadow:0 0 10px #7E57C2,
    0 0 20px #7E57C2;
}

.skill{
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
    color: #FFFFFF;
    letter-spacing: 1px;
    transition:.6s;
    text-shadow: 0 0 20px #7E57C2;
    z-index: 1;
    position: relative;
}
.skill:hover {
    font-size: 40px;
    color: #FFFFFF;
    text-shadow: 0 0 10px #7E57C2,
    0 0 20px #7E57C2;
}
.experience{
    font-size: 30px;
    padding-top:30px;
}
.experience:hover{
    font-size: 40px;
}


